/*
    基础样式
*/
/* 列表 */
ul.utils-list-noStyle,
ol.utils-list-noStyle {
    list-style: none; /* 删除 */
}

.utils-hover-cursor-pointer {
    cursor: pointer; /* 鼠标指针变成手 */
}


/* 表格 */
table.utils-table-border-collapse {
    border-collapse: collapse; /* 合并单元格 */
}

/* 表单 */
form.utils-input-border-none input,
input.utils-input-border-none {
    border: none; /* 删除边框 */
    outline: none; /* 删除选中边框 */
}

/* 边距 */
.utils-margin-10px {
    margin: 10px;
}

.utils-margin-top-10px {
    margin-top: 10px;
}

.utils-margin-right-10px {
    margin-right: 10px;
}

.utils-margin-bottom-10px {
    margin-bottom: 10px;
}

.utils-margin-left-10px {
    margin-left: 10px;
}

.utils-padding-10px {
    padding: 10px;
}

.utils-padding-top-10px {
    padding-top: 10px;
}

.utils-padding-right-10px {
    padding-right: 10px;
}

.utils-padding-bottom-10px {
    padding-bottom: 10px;
}

.utils-padding-left-10px {
    padding-left: 10px;
}